VITE_AWS_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_XYjdgPqL8
VITE_COGNITO_CLIENT_ID=13cap4jk60648k60ercbijjlde
VITE_DEFAULT_SIGNIN_ROLE=VENDOR
VITE_APPSYNC_ENDPOINT=https://your-appsync-endpoint.appsync-api.us-east-1.amazonaws.com/graphql