VITE_AWS_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_XYjdgPqL8
VITE_COGNITO_CLIENT_ID=fn4abs2iq0s65r03p607egvmn
VITE_DEFAULT_SIGNIN_ROLE=VENDOR
VITE_APPSYNC_ENDPOINT=https://your-appsync-endpoint.appsync-api.us-east-1.amazonaws.com/graphql